body{
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 63px;
  margin: 0;
}

p{
  margin-left: 30px;
  line-height: 20px;
}

h2{
  font-size: 30px;
  text-align: center;
}

h3{
  margin-top: 50px;
  margin-left: 28px;
}
.sidebar{
  max-width: 200px;
}

.text-center{
  text-align: center;
}